:root {
	--main-color: #0077b6;
}

body {
	font-family: "Trebuchet MS", sans-serif;
	margin: 0;
	text-align: center;
	color: var(--main-color);
}

#navBar {
	height: 60px;
	width: 100%;
	background-color: #fff;
	border-bottom: solid;
	border-width: 1px;
	border-color: #acacac;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.nav-section {
	width: 100%;
	height: 100%;
}

#middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navText {
	transition: 0.5s;
}

#right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.buttonGeneral {
	border: solid 3px var(--main-color);
	padding: 5px;
	box-sizing: border-box;
	margin-right: 10px; /* Abstand zum rechten Rand */
	color: var(--main-color);
}

.buttonGeneral a {
	color: var(--main-color);
	text-decoration: none;
}

#colorpicker input {
	border: 0;
	width: 400px;
	height: 400px;
}
